@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
  }


@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-blue: #2B7FFF;
  --color-dark: #011C44;
  --color-secondary-dark: #4A4A4A;
  --color-secondary-light: #747272;
  --color-secondary-blue: #011F4A;
}

body {
    color: var(--color-dark);
    font-family: roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;

}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1240px;             /*  задать ширину, поставить контейнер посередине */
  margin: 0 auto;
}

ul{
  margin: 0;         /*  убирает все отступы */
  padding: 0;
  list-style-type: none;      /*  убирает точки в списках */
}

.section {
  padding: 48px 0;        /* расстояние верх.низ между секциями */
}


/* header */
/* link */

header {
  position: absolute;     /* расположить над баннегом */
    top: 0;               /* прикрепить кверху и леву и растянуть на всю длину */
    left: 0;
    width: 100%;
    padding: 32px;
    background: rgba(255, 255, 255, 0.25); 
     backdrop-filter: blur(5px);

}

.link {
   text-decoration: none;        /* убрать подчеркивание списка */
      transition: color 0.3s;
  }

.link:hover {
    color: var(--color-blue);
  }

.header-conteiner {
  display: flex;
    align-items: center;
      gap: 40px;
}

.header-nav {
  flex-grow: 1;                     /* конейнер занимает все свободное пространство */
  display: flex;
  align-items: center;            /* выравнивание по вертикали */
      
}

.nav-menu {
  display: flex;
  gap: 56px;                          /* расстояние между элементами */
  flex-grow: 1;                
  justify-content: center;         /* расположение по плолскости */ 
}

.nav-icons {
  display: flex;
  gap: 32px;
}

.top-address-icon {
 fill: black;        /*отображение и цвет иконки свг */
}

.top-address-icon:hover {        
  fill: var(--color-blue);             
}



/* hero */
.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 120px 0 78px 106px;
  background-image: linear-gradient(89deg, #FFF 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0.00) 72.78%), url('../images/hero-bkg.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-hero {
  margin-bottom: 16px;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-blue);
      font-family: play, sans-serif;
      font-size: 140px;
      font-weight: 700;
      line-height: 114px;
}

/* button */
.button {
    color: var(--color-white);
    background-color: var(--color-blue);
     border-color: var(--color-blue);
    width: 219px;
    height: 53px;
    border-radius: 32px;
    cursor: pointer;
     font-weight: 600;
  font-size: 18px;
  margin-bottom: 14px;
   border: 1px solid var(--color-blue);      /*убрать обводку кнопки */
}

  
.button:hover {
    color: var(--color-dark);
    background-color: transparent;
}

/* title section */
.format-title {
  font-size: 12px;
  line-height: 18px;
  padding-left: 18px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
      line-height: 74px;
}

 .title-color {
    color: var(--color-blue);
 }

 .title-text {
      font-size: 22px;
      line-height: 38px;
 }

 .text-title {
  font-weight: 600;

 }

 /* center */

 .center-info {
  display: flex;
  justify-content: space-between;
    gap: 40px;
 }

 .center-content {
  padding-top: 40px;
  max-width: 710px;
 }

 .center-text {
  margin-bottom: 40px;
 }

 .center-title {
  margin-bottom: 40px;
 }

 /* reasons section */

 .reasons-box {
  max-width: 1060px;     /* ширина контейнера */
  margin: 0 auto;       /* посередине */
 }
 
 .reasons-cards {
  display: flex;                     /* расположены по ширине, в центре */
  justify-content: center;
   gap: 56px;
 }

 .reasons-item {
  padding: 24px 32px;
    max-width: 316px;
   text-align: center;                /* расположить элементы по ширине */
border: 1px solid lightgray; /* убрать */
border-radius: 16px;
box-shadow: 0 4px 4px 0px #A8C6F5;
 }


.reasons-title {
  max-width: 432px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}


 /* procedures */
 .procedures  {
  display: flex;                     /* расположены по ширине, в центре */
  justify-content: center;
    gap: 16px;
    /* max-width: 1064px; */
    margin: 0 auto; 
  font-size: 22px;
  line-height: 26px;
    /* color: var(--color-white); */
 }

 .procedures-item {
  flex-basis: calc((100% - 16px) / 3);
 }

 .procedures-card {
    width: 344px;
    height: 456px;
text-align: center;        
border: 1px solid lightgray; /* убрать */
transition: transform 0.3s;
} 

 .procedures-card:hover {
   transform: scale(1.05);
 }

.procedures-text {
  max-width: 1216px;
  margin: 0 auto;
}

 .procedures-title {
  margin-bottom: 48px;
  text-align: center;
 }

 .procedures-container {
  display: flex;
  gap: 30px;
  align-items: center;
 }

 /* carousel */
 .carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
 }

 .carousel-arrow {
  fill: black;
 }

 .carousel-button:hover {
  background-color: var(--color-blue);
 }

 .carousel-button:hover .carousel-arrow {
  fill: var(--color-white);
 }

 .carousel-button.next {
   transform: rotate(180deg);
 }

 /* find us */
.findus-title {
  margin-bottom: 48px;
  text-align: center;
}

.findus-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.map  {
  border-radius: 32px;
}

.findus-content {
  width: 422px;
    height: 482px;
    flex-shrink: 0;
    padding: 48px 74px;
    border-radius: 32px;
      background: var(--color-dark);
}

 .findus {
  margin-bottom: 32px;
  font-style: normal;
    font-weight: 600;
      line-height: 25px;
      color: var(--color-white);
 }

 .findus-text {
  color: var(--color-blue);
 }

 /* button 2*/
.button2 {
  margin-bottom: 8px;
  color: var(--color-white);
  background-color: var(--color-blue);
border-color: var(--color-blue);
  width: 286px;
  height: 53px;
  border-radius: 32px;
  cursor: pointer;
   font-weight: 600;
font-size: 18px;
border: 1px solid var(--color-blue);    
}

.button:hover {
  color: var(--color-dark);
  background-color: transparent;
}


/* footer */

.footer-container {
  flex-grow: 1;                     /* конейнер занимает все свободное пространство */
  display: flex;
  padding: 56px 80px;
  justify-content: space-around;
  background-color: var(--color-secondary-blue);
  gap: 20px;
}

.container-nav,
.container-address {
  display: flex;  
  flex-basis: 50%;
  gap: 20px;
}

.container-logo,
.footer-nav {
  flex-grow: 1;
}

.footer-address-link,
.dani-container {
  flex-grow: 1;
}

address {
 font-style: normal;      /*  убрать италик с адресной ссылки */
}

.foot-link {
  font-size: 16px;
      line-height: 18px;
  color: var(--color-white);
  margin-bottom: 16px;
}

.foot-link:hover {
  color: var(--color-blue);
  font-weight: 700;
}

.footer-icons {
  display: flex;
  gap: 24px;
}

.address-icon {
  fill: var(--color-white);        /*отображение и цвет иконки свг */
}

.address-icon:hover {        
  fill: var(--color-blue);             
}

.adres-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-white);
  text-decoration: none;
   }

.adres-link:hover {
  color: var(--color-blue);
  font-weight: 700;
}


.foter-addr-link {
  margin-bottom: 16px;
}


.dani {
      font-size: 16px;
      color: var(--color-secondary-light);      
   }

.dani-container li {
  margin-bottom: 16px;
}

/* modal   */
.backdrop {
  position: fixed;         /* позиционирование элемента */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;                    /* модальное не видно, когда тоггл на из хидден */
  visibility: hidden;          /* модальное пропадает полность */
  pointer-events: none;            /*ничего нельзя нажать в окне */
}

.modal {
  position: relative;           /* позиция для кнопки */
  width: 723px;
  height: 681px;
  background-color: var(--color-dark);
  border-radius: 48px;
}

.modal-btn-close {
  position: absolute;           /* абсолют можно двигать только в рилейтиве */
  top: 40px;
  right: 40px;
}
